.job-create {
	background-color lighten(main2-col, 30%)
}

.job-textbox{
	padding 0px
	width 100%
	height -webkit-calc(100% \- 42px \- 100px)
	height -moz-calc(100% \- 42px \- 100px)
	height calc(100% \- 42px \- 100px)
}

.job-create .title {
	height 42px
}

.job-under {
	height 100px
}

.uploaded-temp {
	float left
}