.job-create {
	background-color second-col
}

.job-textbox{
	padding 0px
	width 100%
	height -webkit-calc(100% \- 42px \- 80px \- 18px)
	height -moz-calc(100% \- 42px \- 80px \- 18px)
	height calc(100% \- 42px \- 80px \- 18px)
	font-size 12px
	margin-bottom 6px
}

.job-create .title {
	height 42px
}

.job-under {
	height 70px
}

.job-under button {
	float right
	margin-left 8px
	margin-top 40px
}

.uploaded-temp {
	float left
	height 70px
	border-radius  10px
    box-shadow 	inset 0 0 6px #444
    line-height 70px
    text-align center
    overflow auto
}

.close-x {
	margin-right: 20px;
}