ready = #00D744
running = #D7B700
error = #D71500

.servers{
	background-color  second-col
	padding-top 20px
	overflow-y auto
}

.servernode{
	border-radius  4px
	margin-top 10px
	padding 10px
	background-color  ready
  	box-shadow 	0px 0px 4px #222
}

.status{
	margin-top -10px
	margin-bottom 10px
	float left
}

.dot {
	width 10px
	height 10px
	display  inline-block
	margin-right 2px
	border-radius  10px
	box-shadow 	0px 0px 2px #000
}

.ready {
	background-color  ready
}

.error{
	background-color  error
}

.running{
	background-color  running
}

.info-button{
	float right
	background-color lighten(main2-col, 25%)
	color white
	font-weight bold
	width 10px
	text-align center
	box-shadow 	0px 0px 2px #000
	cursor pointer
	border-radius 2px
}

.job-button{
	float right
	margin-right 5px
	background-color lighten(second-col, 25%)
	color white
	font-weight bold
	width 10px
	text-align center
	box-shadow 0px 0px 2px #000
	cursor pointer
	border-radius 2px
}